#tab1 {
        display: none;
}

#tab2 {
        display: inline-block;
}

#tab3 {
        display: none;
}

#board-navigation {
        padding: 1em;
}

label {
        text-align: left;
}

input {
        align: left;
}

.simple_overlay {
        
        /* must be initially hidden */
        display:none;
        
        /* place overlay on top of other elements */
        z-index:10000;
        
        /* styling */
        background-color:#FFF;
        
        width:250px;
        min-height:200px;
        border:1px solid #666;
        
        /* CSS3 styling for latest browsers */
        -moz-box-shadow:0 0 90px 5px #000;
        -webkit-box-shadow: 0 0 90px #000;      
}

/* close button positioned on upper right corner */
.simple_overlay .close {
        background-image:url(../images/close.png);
        position:absolute;
        right:-15px;
        top:-15px;
        cursor:pointer;
        height:35px;
        width:35px;
}

/*
 * Wufoo generated
 */
.dg table
{
    width: 100%;
    clear:left;
}
.dg td
{
    background:#fff;
    color:#444;
    text-align:left;
    font-size:11px;
    line-height:1.6em;
    padding:5px 5px 6px 6px;
}
.dg tbody
{
    vertical-align: top;
}
.dg tbody td
{
    border-right:1px solid #dedede;
    border-bottom:1px solid #eee;
    min-width:100px;
}
.dg tbody tr.alt td
{
    background-color:#F3F3F3;
}
.dg tbody td div
{
    overflow:hidden;
    text-overflow:ellipsis;
}
.dg tbody td.n div
{
    overflow:visible;
    font-weight:bold;
    color:#222;
    text-align:center;
}
.dg thead td
{
    background-color:#333;
    color:#fff;
    padding-right:20px;
    cursor:pointer !important;
    border-right:1px solid #555;
}
.dg thead td:hover
{
    background-color:#444;
}
.dg thead td div
{
    max-width:300px;
    overflow:hidden;
    white-space:nowrap;
    word-wrap:break-word;
    text-overflow:ellipsis;
}
.dg thead td.n
{
    width:4em !important;
    color:#fff;
}
.dg thead td.up
{
    background-image:url(/images/icons/sortdown.gif);
    background-repeat:no-repeat;
    background-position: 100% center;
    background-color:#555 !important;
}
.dg thead td.down
{
    background-image:url(/images/icons/sortup.gif);
    background-repeat:no-repeat;
    background-position: 100% center;
    background-color:#555 !important;
}
.dg tfoot td
{
    text-align:center;
    padding:78px 20px 0 20px;
    height:100%;
    font-size:20px;
}
.lastCol
{
    width:25px;
    padding:0 !important;
}
#addCol
{
    width:25px;
    text-align:center;
    margin:0;
    padding:0 !important;
    cursor:pointer;
    display:block;
    text-align:center;
}
#addCol a.plus
{
    font-weight:bold;
    display:block;
    margin:0;
    padding:4px;
    color:#fff;
    font-size:14px;
    line-height:1.3em;
    background-color:#529214;
    border:1px solid #529214;
}
#addCol a.plus:hover
{
    background-color:#70b230;
    border:1px solid #fff !important;
}
#addCol a.plus:active
{
    background-color:#FFF;
    color:#529214;
}
#addCol.push a.plus
{
    background-color:#70b230;
    border:1px solid #70b230;
}
#addCol.push #selectCols
{
    display:block;
}
#addCol #selectCols
{
    font-size:10px;
    display:none;
    position:absolute;
    z-index:3000;
    margin:7px 0 0 -239px;
    width:220px !important;
    text-align:left;
    padding:7px 0 10px 0 !important;
    color:#444;
    font-weight:normal;
    height:300px;
    overflow:auto;
    overflow-x:hidden;
    background-color:#F7FFEF !important;
    border:7px solid #C3DFA7;
    -moz-border-radius-topleft:15px;
    -moz-border-radius-bottomleft:15px;
    -moz-border-radius-bottomright:15px;
    -webkit-border-top-left-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    -webkit-box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
    -moz-box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
    -o-box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
    box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
}
#addCol #selectCols[id]
{
    height:auto;
    max-height:300px;
}
#selectCols a
{
    display:block;
    text-decoration:none;
    width:80% !important;
    color:#444;
    padding:5px 25px 5px 5px;
    background:none;
    border:none;
    white-space:normal;
    font-size:10px;
    line-height:13px;
}
#selectCols a:hover
{
    color:#000;
    background-color:#D8EFB3 !important;
    border:none !important;
}
#selectCols a:active
{
    color:#fff;
    background-color:#6DAF2B !important;
}
#selectCols li
{
    width:170px;
    margin:0 7px !important;
    padding:0 !important;
    border:none !important;
    cursor:pointer !important;
    list-style:none !important;
}
#selectCols li:hover
{
    background:none !important;
}
#selectCols li.break
{
    border-top:1px dotted #ACCF74 !important;
    width:180px;
    margin:7px 0 7px 0 !important;
    padding:0 20px 0 0 !important;
}
* html #selectCols li.break
{
    margin:7px 0 -5px 0 !important;
}
*+html #selectCols li.break
{
    margin:7px 0 -5px 0 !important;
}
#selectCols li.selected a
{
    background-image:url(/images/icons/tick.png) !important;
    background-position:98% 3px;
    background-repeat:no-repeat;
}
.dg tbody.autohighlight tr:hover td
{
    background-color:#FFFFCF;
    border-color:#EEEFB3;
    color:#222;
}
.dg tbody tr td.hl
{
    font-weight:bold;
    color:#c3401d;
}
.dg table .selected td
{
    background-color:#BFDEFF !important;
    border-color:#AFCEEF !important;
    color:#000 !important;
}
#gridBar, #navHolderBottom
{
    width:100%;
    color:#eee;
    font-size:100%;
    line-height:34px;
    background:#262626;
    padding-bottom:1px;
}
#navHolderBottom
{
    text-align:center;
    border-bottom:2px solid #262626;
}
#gridBar td
{
    width:33%;
}
#gridBar .col1
{
    color:#fff;
    text-align:left;
    padding-left:8px;
}
#gridBar .col1 span
{
    color:#FFF58F;
    font-weight:bold;
    padding:0 6px 0 20px;
    background:url(/images/icons/page_white_stack.png) no-repeat 0 1px;
    border-right:1px dotted #fff;
}
.filtered #gridBar .col1 span
{
    background:url(/images/icons/magnifier.png) no-repeat 0 1px !important;
}
#gridBar .col1 a
{
    color:#888;
    font-size:90%;
    text-transform:uppercase;
    text-decoration:none;
    padding:0 0 0 3px;
}
#gridBar .col1 a:hover
{
    text-decoration:underline;
    color:#fff;
}
#gridBar .col2
{
    text-align:center;
}
#gridBar .col3
{
    text-align:right;
    padding-right:8px;
}
#gridHolder table
{
    border-left:none;
}
.dgNav a
{
    font-size:16px;
    cursor:hand;
    font-weight:bold;
    border:1px solid #444;
    padding:0 7px 3px 7px;
    margin:0 4px 0 4px;
    color:#555;
    visibility:hidden;
    text-decoration:none;
    cursor:default !important;
}
.dgNav .lastPage, .dgNav .firstPage
{
    padding:0 6px 3px 6px;
    margin:0;
}
.dgNav a.show
{
    background:#1F1D1D;
    color:#eee;
    visibility:visible;
    cursor:pointer !important;
}
.dgNav a.show:hover
{
    background:#599F13;
    border:1px solid #eee;
    color:#eee;
}
.dgNav a.lastPage:hover, .dgNav a.firstPage:hover
{
    background:#3D6AA0;
}
.dgNav a.show:active
{
    background:#eee !important;
    color:#333 !important;
}
.dgInfo
{
    margin:0 5px 0 5px;
}
.dgInfo var
{
    font-style: normal;
    font-weight:bold;
    color:#FFF58F;
}
#readOnlyHolder
{
    overflow:auto;
    border:2px solid #262626;
    background:#fff;
    padding:24px 20px 0 20px;
}
#mturkInfo h3, #paymentInfo h3
{
    padding-bottom:3px;
    font-size:95%;
    position:relative;
    width:100%;
}
#paymentInfo table, #mturkInfo table
{
    margin:0 0 18px 0;
    width:100%;
    border:1px solid #dedede;
}
#paymentInfo td, #mturkInfo td
{
    background:#fff;
    border:7px solid #fff;
    text-align:center;
}
#readOnlyHolder td.positive
{
    background-color:#529214;
    color:#fff;
    width:40%;
}
#readOnlyHolder td.negative
{
    background-color:#d12f19;
    color:#fff;
    width:40%;
}
#readOnlyHolder td.neutral
{
    background-color:#EFCC2C;
    color:#222;
    width:40%;
}
#mturkInfo td.positive
{
    border:1px solid #437F07;
    background-image:url(/images/icons/cog.png);
    background-repeat:no-repeat;
    background-position:center 5px;
}
#mturkInfo td.neutral
{
    border:1px solid #DFBC1B;
    background-image:url(/images/icons/cog_error.png);
    background-repeat:no-repeat;
    background-position:center 5px;
}
#pay_merchant
{
    text-transform:uppercase;
    font-size:10px;
    font-weight:normal;
    position:absolute;
    right:0px;
    top:3px;
}
#pay_amount
{
    font-size:20px;
    display:block;
    font-style:normal;
    padding:12px 15px 0 15px;
}
#pay_status
{
    font-size:10px;
    font-weight:bold;
    letter-spacing:1px;
    text-transform: uppercase;
    display:block;
    padding:0 0 12px 0;
}
#pay_date
{
    font-size:14px;
    display:block;
}
#pay_transaction
{
    font-size:11px;
    font-style:normal;
}
#mturk_environment
{
    text-transform:uppercase;
    font-size:10px;
    font-weight:normal;
    position:absolute;
    right:0px;
    top:3px;
}
#mturk_environment_class
{
    width:24px !important;
}
#mturkInfo .hit
{
    padding-bottom:4px;
}
#mturkInfo span
{
    font-size:10px;
    display:block;
    font-weight:bold;
}
#mturkInfo var
{
    font-style:normal;
    font-weight:normal;
    display:block;
}
#mturkIDs
{
    text-align:left !important;
}
a.button, button.button
{
    font-family:"Lucida Grande", Tahoma, Arial, sans-serif;
    float:left;
    margin:0 .7em 0 0;
    text-decoration:none;
    background:#EAEAEA url(/images/white-grad.png) repeat-x left top;
    border:1px solid #dedede;
    border-right:1px solid #bbb;
    border-bottom:1px solid #bfbfbf;
    padding:5px 10px 6px 10px;
    display:block;
    cursor:pointer;
    font-size:100%;
    line-height:130%;
    color:#464646;
    -webkit-border-radius:11px;
    -moz-border-radius:11px;
    border-radius:11px;
    -webkit-box-shadow:rgba(0,0,0,.15) 0px 1px 3px;
    -moz-box-shadow:rgba(0,0,0,.15) 0px 1px 3px;
    -o-box-shadow:rgba(0,0,0,.15) 0px 1px 3px;
    box-shadow:rgba(0,0,0,.15) 0px 1px 3px;
}
a.bigpush
{
    font-size:140%;
}
a.button, button.button
{
    float:none;
    display:inline;
    display:inline-block;
}
button
{
    width:auto !important;
    overflow:visible !important;
}
button.button
{
    padding:4px 10px 3px 7px;
}
button.button[type]
{
    width:auto;
    padding:5px 10px 5px 7px;
    line-height:17px;
}
*+html button.button[type]
{
    padding:4px 10px 3px 7px;
    margin-bottom:1px;
}
* html button.button
{
    margin-bottom:1px;
}
a.button img, button.button img
{
    margin:0 3px -3px 0 !important;
}
a.button:hover, button.button:hover
{
    border:1px solid #999;
    color:#000;
}
button.active, a.button:active
{
    border-color:#ccc;
    background: #FFF url(/images/white-grad-active.png) repeat-x left top;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
button.positive, a.positive
{
    color:#63A142;
    font-weight:bold;
}
a.positive:hover, button.positive:hover
{
    border:1px solid #7CB043;
    color:#63A142;
}
a.positive:active
{
    background:#94B717;
    border:1px solid #94B717;
    text-shadow:#607710 1px 1px 1px;
    color:#fff;
}
a.negative, button.negative
{
    color:#d12f19;
}
a.negative:hover, button.negative:hover
{
    border:1px solid #E86B6D;
    color:#d12f19;
}
a.negative:active
{
    background:#d12f19;
    border:1px solid #d12f19;
    text-shadow:#A93816 1px 1px 1px;
    color:#fff;
}
.buttons a em, .buttons button em, a.button em
{
    font-weight:normal;
    font-style:normal;
}
a.dark img
{
    margin:0 3px -3px 0 !important;
}
a.dark, a.darkPos, a.darkNeg
{
    text-decoration:none;
    color:#eee;
    background:#444;
    border:1px solid #444;
    padding:5px 10px;
    -webkit-border-radius:11px;
    -moz-border-radius:11px;
    border-radius:11px;
    display:inline-block;
}
a.dark:hover
{
    color:#fff;
    background:#555;
    border:1px solid #fff;
}
a.darkPos
{
    border:1px solid #4c8614;
    background:#4c8614;
}
a.darkPos:hover
{
    color:#fff;
    background:#5ca417;
    border:1px solid #fff;
}
a.darkNeg
{
    border:1px solid #d12f19;
    background:#d12f19;
}
a.darkNeg:hover
{
    background:#f13118;
    border:1px solid #fff;
}
a.dark:active, a.darkPos:active, a.darkNeg:active
{
    background-color:#FAE158 !important;
    color:#222 !important;
    border-color:#DFC94F;
}
.info .buttons
{
    float:right;
    margin:6px 0 0 0;
    padding:0;
}
.info .buttons a, .info .buttons button
{
    margin:0 0 0 .7em;
}
#overlay
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:5000;
    background:#000;
    opacity:.9;
    -moz-opacity:.9;
    filter: alpha(opacity=90);
}
#overlay[id]
{
    position:fixed;
}
#lightbox
{
    position: absolute;
    top:50%;
    left:50%;
    z-index:9999;
    width:820px;
    height:300px;
    margin:-150px 0 0 -410px;
    text-align:left;
}
#lightbox[id]
{
    position:fixed;
    height:auto;
    min-height:300px;
}
.lbOff
{
    cursor:pointer;
}
#lightbox.done
{
    background:#FFE27F;
    border:1px solid #D4B240;
    border-right:1px solid #A08730;
    border-bottom:1px solid #A08730;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
}
#lbContent
{
    position:relative;
    height:223px;
    margin:25px;
    padding:25px 30px;
    background:#fff;
    border:1px solid #EFCA4A;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
}
#lbContent[id]
{
    height:auto;
    min-height:223px;
}
#lightbox.loadin
{
    background-color:#222;
    border:1px solid #ccc;
}
#lbLoadMessage p
{
    color:#fff;
    text-align:center;
    font-size:150%;
    line-height:380px;
}
#lightbox.done #lbLoadMessage, #lightbox.loadin #lbContent
{
    display:none;
}
#lightbox.done #lbContent, #lightbox.loadin #lbLoadMessage
{
    display:block;
}
#lightbox.blue, .blue #lightbox
{
    background:#61A9DF;
    border-color:#61A9DF;
}
.blue #lbContent
{
    border-color:#338DCF;
}
#lightbox.green, .green #lightbox
{
    background:#A4DE5D;
    border-color:#A4DE5D;
}
.green #lbContent
{
    border-color:#85CE2C;
}
#lightbox.error, .error #lightbox
{
    background:#EA3109;
    border-color:#BE2700;
}
.error #lbContent
{
    border-color:#eee;
}
* html.prepIE
{
    overflow-y:hidden;
}
* html.prepIE body
{
    height:100%;
}
* html.prepIE select
{
    visibility:hidden;
}
* html.prepIE #lightbox select
{
    visibility:visible;
}
#lightbox.image, #lightbox.image #lbContent, #lightbox.movie, #lightbox.movie #lbContent
{
    border:none !important;
    background:none !important;
    text-align:center;
    padding:0 !important;
    height:auto !important;
    width:900px;
    margin-left:-450px;
}
#lightbox.image #lbContent, #lightbox.movie #lbContent
{
    margin:0 !important;
}
#lightbox .button.dark
{
    font-size:85%;
    background:#333;
    border:1px solid transparent;
    border-right:1px solid #111;
    border-bottom:1px solid #111;
    padding-left:8px;
}
#lightbox .button.dark img
{
    height:13px;
    margin-bottom:-2px !important;
}
* html #lightbox.image, * html #lightbox.image #lbContent, * html #lightbox.movie, * html #lightbox.movie #lbContent
{
    background:#000 !important;
    border:#000 !important;
}
#lbImage, #lbMovie object, #lbMovie video
{
    max-width:900px;
    border:1px solid #555;
    border-right:1px solid #777;
    border-bottom:1px solid #777;
    background:#000 url(/images/lbProgress.gif) no-repeat center center;
}
h4#lbCaption
{
    padding:20px 0 15px 0;
    font-size:120%;
    color:#f5f5f5 !important;
    text-shadow: rgba(0,0,0,.9) 1px 1px 2px;
}
#lightbox h3
{
    color:#222;
    font-size:100%;
    margin:0 0 1.2em 0;
}
#lightbox form ul
{
    margin:0 0 10px 0;
    padding:0;
}
#lightbox form li
{
    position:static;
    width:97%;
}
#lightbox div.buttons
{
    margin:0 0 1.2em 0;
}
#lightbox .stuff p
{
    font-size:100%;
    line-height:150%;
    margin:0 0 1em 0;
}
.prompt
{
    text-align:center;
    padding:60px 0 30px 0;
}
.prompt h2
{
    margin-bottom:15px !important;
}
.prompt h3
{
    font-size:120% !important;
    padding:0 20px 40px 20px !important;
}
.prompt input.text
{
    font-size:180%;
    color:#333;
    width:75%;
    margin:0 auto 10px auto;
    text-align:center;
    -webkit-border-radius:12px;
    -moz-border-radius:12px;
    border-radius:12px;
    outline:none;
}
.prompt li
{
    margin-bottom:5px;
    padding:0;
    width:auto !important;
}
.prompt li div
{
    margin:0;
}
.prompt li p
{
    margin-bottom:10px;
}
.prompt li.buttons
{
    padding-top:5px;
}
.prompt label.desc
{
    font-size:140%;
    font-weight:normal;
    padding:20px 0 7px 0;
}
.prompt button
{
    float:none;
    display:inline;
    display:inline-block;
}
.confirm
{
    padding-bottom:25px;
}
.confirm h2
{
    padding-top:42px;
    margin-bottom:15px;
}
.confirm h2 b
{
    color:#CE2001;
}
.confirm p
{
    margin:0 0 1.5em 0;
    line-height:160%;
    font-size:110%;
}
#lbContent ol.decide
{
    width:100%;
    list-style:none;
    margin:17px 0 0 0;
    padding:0;
}
#lbContent ol.decide li
{
    font-size:135%;
    margin:0 0 10px 0;
    padding:0;
    width:100%;
}
#lbContent ol.rss li
{
    font-size:100%;
    margin-bottom:20px;
}
#lbContent ol.decide li a
{
    height:100%;
    padding:1px 1px 1px 16px;
    margin:1px;
    color:#555;
    display:block;
    line-height:40px;
    text-decoration:none;
    border:1px solid #dedede;
    border-right:1px solid #bbb;
    border-bottom:1px solid #bfbfbf;
    background:#EAEAEA url(/images/white-grad.png) repeat-x left top;
    -webkit-box-shadow:rgba(0,0,0,.15) 0px 1px 3px;
    -moz-box-shadow:rgba(0,0,0,.15) 0px 1px 3px;
    -o-box-shadow:rgba(0,0,0,.15) 0px 1px 3px;
    box-shadow:rgba(0,0,0,.15) 0px 1px 3px;
}
#lbContent ol.decide li a span
{
    color:#000;
    font-weight:bold;
}
#lbContent ol.decide li.green a span, #lbContent ol.decide li.green a:hover b
{
    color:#528F08;
}
#lbContent ol.decide li.red a span, #lbContent ol.decide li.red a:hover b
{
    color:#BD2514;
}
#lbContent ol.decide li.blue a span, #lbContent ol.decide li.blue a:hover b
{
    color:#1F68A8;
}
#lbContent ol.decide li.purple a span, #lbContent ol.decide li.purple a:hover b
{
    color:#8b35ff;
}
#lbContent ol.decide li a:hover
{
    padding:0 0 0 15px;
    border:2px solid #999;
    color:#222;
    font-weight:bold;
}
#lbContent ol.decide li.green a:hover
{
    border-color:#89C711;
}
#lbContent ol.decide li.red a:hover
{
    border-color:#E67453;
}
#lbContent ol.decide li.blue a:hover
{
    border-color:#3A93C9;
}
#lbContent ol.decide li a:active
{
    border-color:#dedede !important;
    background: #FFF url(/images/white-grad-active.png) repeat-x left top;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}
#lbContent ol.decide li a b
{
    color:#444;
}
#lbContent ol.decide li a:hover b
{
    border-bottom:1px dotted #777;
    color:#000;
}
*
{
    margin:0;
    padding:0;
}
html
{
    background:#eee;
}
body
{
    margin:17px 25px 15px 25px;
    text-align:center;
    font-size:small;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
}
article, aside, figure, figure img, figcaption, hgroup,footer, header, nav, section, video, object, output
{
    display: block;
}
.wufoo .wfo_number
{
    margin:7px 8px 15px 8px;
}
.wufoo .wfo_graph, .wufoo .wfo_number
{
    float:left;
}
.lb .wfo_graph
{
    visibility:hidden;
}
#container
{
    background:#fff;
    text-align:left;
    border:1px solid #ccc;
    margin:0 auto;
    width:auto;
    min-width:790px;
    overflow:hidden;
    -webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
    -moz-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
    -o-box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
    box-shadow:rgba(0,0,0,.2) 0px 0px 5px;
}
#bottom
{
    margin:0 auto 20px auto;
    width:790px;
    height:10px;
    display:block !important;
}
#stage
{
    position:relative;
    padding:0 20px 25px 20px;
}
#reportDescription
{
    margin-bottom:7px;
}
.info
{
    display:inline-block;
    clear:both;
    margin:20px 20px 10px 20px;
    padding:0 0 1em 0;
    border-bottom:1px dotted #ccc;
}
.info[class]
{
    display:block;
}
.info h2
{
    font-weight:normal;
    font-size:160%;
    margin:0 0 3px 0;
    clear:left;
}
.info div
{
    font-size:95%;
    line-height:130%;
}
.info .buttons
{
    float:right;
    margin:3px 0 0 0;
    width:150px;
}
.info .buttons a
{
    margin:0 0 3px 7px;
    float:right;
}
.info .export img
{
    margin:0 0 -3px 5px;
}
.fixed #container, .fixed #bottom
{
    min-width:580px;
    width:580px;
}
.fixed .info
{
    text-align:center;
    padding:100px 25px 125px 25px;
    border-bottom:none;
}
.fixed h2
{
    padding:3px 0;
}
.footer
{
    clear:left;
    text-align:center;
    margin:0 10px;
    padding-top:10px;
}
.footer h4
{
    font-weight:bold;
    font-size:100%;
    color:#000;
}
.footer span
{
    display:block;
    font-size:85%;
    color:#333;
    text-decoration:none;
}
#status
{
    position:absolute;
    bottom:0px;
    z-index:5000;
    width:800px;
    margin:0 0 0 -400px;
    left:50%;
    border-bottom:none;
}
#status[id]
{
    position:fixed !important;
}
#status #y
{
    position:relative;
    border:1px solid #9F1E00;
    background:#BF3717;
    -moz-border-radius-topleft:20px;
    -moz-border-radius-topright:20px;
    -webkit-border-top-left-radius:20px;
    -webkit-border-top-right-radius:20px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    -webkit-box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
    -moz-box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
    -o-box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
    box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
}
#statusText
{
    text-align:center;
    line-height:32px;
    font-weight:bold;
    color:#FFFFCC;
}
h1, h2, h3
{
    font-weight:normal;
}
p
{
    color:#222;
}
.inline
{
    display:inline !important;
}
.center
{
    text-align:center !important;
}
.left
{
    float:left;
}
.right
{
    float:right;
}
.hide
{
    display:none !important;
}
.clearfix:after
{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}
.clearfix
{
    display:inline-block;
}
* html .clearfix
{
    height: 1%;
}
.clearfix[class]
{
    display:block;
}
h1
{
    margin:0;
    padding:0;
    min-height:0;
    background-color:#dedede;
    text-indent:-9000px;
    text-decoration:none;
}
* html h1
{
    display:inline-block;
}
h1 a
{
    min-height:40px;
    height:40px;
    display:block;
    background:url(/images/wflogo.png) no-repeat;
    overflow:hidden;
}
* html h1 a
{
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/wflogo.png", sizingMethod="crop");
}
a
{
    color:blue;
    outline:none;
}
a:hover
{
    cursor:pointer;
    color:green;
}
img, a img
{
    border:none;
    -ms-interpolation-mode: bicubic;
}
* html #bottom
{
    _behavior: url(/images/iepngfix.htc);
}
.icon
{
    width: 16px;
    height: 16px;
}
li div .button
{
    margin:4px 0 -4px 0;
}
form li.error
{
    background-color: #FFDFDF !important;
    border-bottom:1px solid #EACBCC;
    border-right:1px solid #EACBCC;
    margin:3px 0;
}
form li.error label
{
    color:#DF0000 !important;
}
form p.error
{
    color:red;
    font-weight:bold;
    font-size:10px;
    margin:0 0 5px 0;
    clear:both;
}
#lightbox .exportTitle
{
    margin:0 0 24px 0;
}
#lightbox .exportButtons .button
{
    margin-bottom:10px;
}
.wfo_grid
{
    clear:both;
    position:relative;
    margin-bottom:10px;
    -webkit-box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
    -moz-box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
    -o-box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
    box-shadow:rgba(0,0,0,.40) 0px 2px 7px;
}
#gridBar .col1 span
{
    border-right:none;
}
* html #gridBar .col2
{
    padding-bottom:2px;
}
*+html #gridBar .col2
{
    padding-bottom:2px;
}
#addCol[id]
{
    position:absolute;
    right:7px;
    top:7px;
    margin:0;
    width:23px;
    display:block;
}
.lastCol[class]
{
    width:0 !important;
    padding:0 !important;
    border-right:none !important;
}
#addCol a.plus[class]
{
    height:20px;
    padding:1px 5px 0 5px;
    border:1px solid #437608;
}
#gridHolder
{
    overflow:auto;
    border:1px solid #262626;
    border-left:2px solid #262626;
    border-right:2px solid #262626;
    background:#262626 url(/images/overlay.gif);
}
* html #gridHolder
{
    width:99.5%;
}
.dg td
{
    font-size:12px;
    padding-left:9px;
}
.dg tbody td div
{
    max-width:400px;
}
.dg .error tfoot td
{
    text-align:center;
    padding:70px 20px 0 20px;
    height:100%;
    font-size:20px;
    background:none;
    padding:70px 0;
    color:#fff;
}
.error tfoot td
{
    background:#262626 url(/images/overlay.gif);
}
#z1, #z2, #z3
{
}
.layout0 #z1
{
}
.layout0 #z2
{
}
.layout0 #z3
{
}
.layout1 #z1
{
    width:32%;
    float:left;
    margin: 0.5em;
    margin-top: 0em;
}
.layout1 #z2
{
    width:32%;
    float:left;
    margin: 0.5em;
    margin-top: 0em;
}
.layout1 #z3
{
    width:32%;
    float:left;
    margin: 0.5em;
    margin-top: 0em;
}
.layout1 #z1
{
    width:33%;
    float:left;
}
.layout2 #z2
{
    width:66%;
    float:right;
}
.layout2 #z3
{
    clear:both;
    width:auto;
}
.layout3 #z1
{
    width:49%;
    float:left;
    margin-right:2%;
}
.layout3 #z2
{
    width:49%;
    float:left;
}
.layout3 #z3
{
    width:0%;
    float:right;
}
.layout4 #z1
{
    width:66%;
    float:left;
}
.layout4 #z2
{
    width:32%;
    float:right;
}
.layout4 #z3
{
    clear:both;
    width:auto;
}
.wfo_widget div.error
{
    border:1px solid red;
    color:red;
    background:#FFE4DD;
    height:180px;
    width:180px;
    line-height:180px;
    font-size:85%;
    text-align:center;
    font-weight:bold;
}
.wfo_graph
{
    padding-top:3px;
    margin-bottom:15px;
}
.wfo_graph h4
{
    font-size:15px;
    font-weight:normal;
    margin:0;
}
.wfo_graph h4 span
{
    font-weight:normal;
    font-size:85%;
    line-height:160%;
    float:right;
}
.line h4, .bar h4
{
    margin-bottom:6px;
}
.wfo_graph div
{
    text-align:center;
    font-size:85%;
    color:#ccc;
}
.wfo_graph.bar, .wfo_graph.line
{
    margin-bottom:12px;
}
.pie .small
{
    width:250px;
    height:180px;
    line-height:180px;
}
.pie .medium
{
    width:315px;
    height:260px;
    line-height:260px;
}
.pie .large
{
    width:370px;
    height:330px;
    line-height:330px;
}
.bar .small, .bar .medium, .bar .large,.line .small, .line .medium, .line .large
{
    height:180px;
    line-height:180px;
}
.bar .small, .line .small
{
    width:335px;
}
.bar .medium, .line .medium
{
    width:560px;
}
.bar .large, .line .large
{
    width:815px;
}
.wfo_number
{
    width:180px;
    padding:13px 9px 15px 9px;
    margin:4px 0 15px 0;
    text-align:center;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
    border:1px solid #dedede;
    background:#eee;
    color:#222;
}
* html .wfo_number
{
    width:180px;
}
.wfo_number strong
{
    font-size:110%;
    display:block;
    padding-bottom:2px;
}
.wfo_number var
{
    font-size:190%;
    font-style:normal;
    font-weight:bold;
    display:block;
    padding-bottom:3px;
}
.wfo_number em
{
    font-size:90%;
    font-style:normal;
    display:block;
}
.wfo_txt
{
    margin-bottom:15px;
    clear:left;
}
.map
{
    text-align:center;
}
.map iframe
{
    border:1px solid #dedede;
    margin:0 0 3px 0;
}
.fc
{
    clear:both;
}
.fc caption
{
    text-align:left;
    padding:0 0 12px 0;
}
.fc caption h4
{
    font-size:15px;
    float:left;
    font-weight:normal;
    margin:3px 0 0 0;
}
.fc table
{
    width:100%;
    font-size:90%;
    clear:left;
    margin:0 0 2em 0;
}
.fc thead th
{
    font-weight:normal !important;
    font-size:110%;
    line-height:170%;
    padding:5px 7px 5px 7px;
    vertical-align:middle;
}
.fc thead
{
    text-align:left;
    vertical-align: bottom;
}
.fc tbody th, .fc tbody td, .fc tfoot th, .fc tfoot td
{
    padding:7px 9px;
    line-height:15px;
}
.fc tbody th
{
    text-align:left;
}
.fc tbody th div
{
    color:#222;
}
.fc tfoot th
{
    text-align:right;
}
.fc tfoot th, .fc tfoot td
{
    font-weight:bold;
    font-size:110%;
}
.fc tbody th em, .fc tfoot em, .fc tfoot strong
{
    font-weight:normal;
}
.fc .empty
{
    border-right:none;
}
.fc table
{
    border:none;
    border-left:1px solid #dedede;
}
.fc thead th, .fc .more th
{
    background-color:#dedede !important;
    border-right:1px solid #ccc !important;
}
.fc tbody td, .fc tbody th, .fc tfoot th, .fc tfoot td
{
    background-color:#fff;
    border-top:none;
    border-left:none;
    border-right:1px solid #ccc;
    border-bottom:1px solid #dedede;
}
.fc tbody tr.alt td, .fc tbody tr.alt th, .fc tbody td.alt
{
    background-color:#F3F3F3;
}
.fc tbody tr:hover td, .fc tbody tr:hover th,.fc tfoot tr:hover td, .fc tfoot tr:hover th
{
    background-color:#FFFFCF;
}
.fcNav, .fcNav a,.fc thead th, .fc tbody th div, .fc tbody td.count, .fc .cards tbody td a, .fc td.percent var, .fc .timestamp span
{
    color:#222;
}
.fc .indent .count
{
    color:#555;
}
.fc .cards tbody td a span
{
    color:#999;
}
.fc .choices tbody
{
    vertical-align: middle;
}
.fc .choices tbody th
{
    width:40%;
}
.fc td.percent
{
    text-align:left;
    padding:0 50px 0 5px;
}
.fc td.percent .bar
{
    height:17px;
    display:inline-block;
    float:left;
}
.fc td.percent var
{
    margin:0 0 0 5px;
    line-height:19px;
    position:absolute;
}
.fc .tab th
{
    padding-left:40px !important;
}
.fc .indent th
{
    font-weight:normal;
    padding-left:50px !important;
}
.fc .percentOnly .count, .fc .percentOnly tfoot
{
    display:none;
}
.fc .countOnly .percent, .fc .countOnly .empty
{
    display:none;
}
.fc .likert tbody th em, .fc .likert thead th em
{
    font-size:10px;
}
.fc .data tbody
{
    vertical-align: top;
}
.fc .count, .fc .avgscore, .fc .entryID
{
    width:10%;
    text-align:center;
}
.fc .timestamp
{
    text-align:center;
    width:20%;
}
.fc tbody .timestamp
{
    font-size:85%;
}
.fc tbody .map
{
    padding:0;
}
.fc tbody .map a
{
    display:block;
    padding:7px;
}
.fc .url a
{
    display:block;
}
.fc .textarea div
{
    line-height:165%;
}
.fc .textarea tbody .timestamp
{
    line-height:190%;
}
.fc .cards tbody td
{
    padding:0;
    width:25%;
}
.fc .cards tbody td a
{
    text-decoration:none;
    display:block;
    padding:12px 0 9px 0;
}
.fc .cards td.file a
{
    text-align:center;
}
.fc .cards td.location
{
    height:8em;
}
.fc .cards td.location a
{
    padding:14px 7px 11px 40px;
    position:relative;
}
.fc .cards tbody td a:hover strong, .fc .cards tbody td a:hover span
{
    color:blue;
    text-decoration:underline;
}
.fc .cards tbody td a strong
{
    display:block;
    font-weight:normal;
    line-height:150%;
}
.fc .cards tbody td a span
{
    display:block;
    font-size:85%;
    padding:2px 0 0 0;
}
.fc .cards tfoot td a.file
{
    font-size:85%;
}
.fc .cards td.file img
{
    padding:0 0 7px 0;
}
.fc .cards td.location img
{
    position:absolute;
    margin:3px 0 0 -27px;
}
.fc .cards td.bigmap
{
    background:#f5f5f5 !important;
    text-align:center;
    color:#666;
    width:75%;
}
.fc td.bigmap div
{
    min-height:350px;
    line-height:350px;
}
* html .fc td.bigmap div
{
    height:350px;
}
.fc caption span.fcNav
{
    text-align:right;
    display:block;
}
.fc tbody th div span
{
    font-size:10px;
    float:right;
}
.fc .more th
{
    font-size:100%;
    padding:5px;
    text-align:center;
    font-weight:normal;
}
.fc .more th a.pop
{
    display:inline-block;
    font-weight:bold;
    padding:3px 0;
}
.fcNav
{
    font-size:12px;
}
.fcNav a.firstPage, .fcNav a.nextPage, .fcNav a.prevPage, .fcNav a.lastPage
{
    display:inline-block;
    font-size:14px;
    line-height:15px !important;
    cursor:hand;
    font-weight:bold;
    padding:0 7px 3px 7px;
    margin:0 4px 0 4px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    text-decoration:none;
    border:1px solid #CCC;
    background:#FFF;
    cursor:pointer !important;
}
.fcNav a.lastPage, .fcNav a.firstPage
{
    padding:0 6px 3px 6px;
    margin:0;
}
*+html .fcNav a
{
    padding:1px 6px !important;
}
.fcNav a:hover
{
    border:1px solid #599F13;
    background:#599F13;
    color:#eee;
}
.fcNav a.lastPage:hover, .fcNav a.firstPage:hover
{
    border:1px solid #3D6AA0;
    background:#3D6AA0;
}
.fcNav a:active
{
    border:1px solid #F6CB0D !important;
    background:#F6CB0D !important;
    color:#333 !important;
}
.color0, .gray
{
    color:#999
}
.color00, .darkgray
{
    color:#222
}
.color1, .blue
{
    color:#3A7B9F
}
.color2, .red
{
    color:#D03A11
}
.color3, .green
{
    color:#679904
}
.color4, .orange
{
    color:#C34D01
}
.color5, .yellow
{
    color:#B99306
}
.color6, .pink
{
    color:#A60F2F
}
.color7, .purple
{
    color:#704882
}
a.color0, .color0 .bar
{
    background-color:#C4C4C4;
    border:1px solid #C4C4C4;
}
a.color00, .color00 .bar
{
    background-color:#FFF;
    border:1px solid #C4C4C4;
}
a.color1, .color1 .bar
{
    background-color:#499CC9;
    border:1px solid #499CC9;
}
a.color2, .color2 .bar
{
    background-color:#E53F11;
    border:1px solid #E53F11;
}
a.color3, .color3 .bar
{
    background-color:#AACC0D;
    border:1px solid #AACC0D;
}
a.color4, .color4 .bar
{
    background-color:#FA9300;
    border:1px solid #FA9300;
}
a.color5, .color5 .bar
{
    background-color:#F9CC0B;
    border:1px solid #F9CC0B;
}
a.color6, .color6 .bar
{
    background-color:#DD1F5D;
    border:1px solid #DD1F5D;
}
a.color7, .color7 .bar
{
    background-color:#A76BC1;
    border:1px solid #A76BC1;
}
.lv .indent td.percent .bar
{
    background-color:#FFF;
}
ul.protected
{
    list-style:none;
    margin:50px 0 30px 0;
}
.protected li
{
    text-align:center;
    padding:10px 0;
    width:100% !important;
}
.protected h2
{
    font-weight:bold;
    color:#DF0000;
    margin:0 auto 10px auto;
}
.protected label
{
    font-size:120% !important;
    padding-top:10px;
    display:block;
}
.protected input.text
{
    font-size:170% !important;
    width:380px;
    text-align:center;
}
.protected .buttons
{
    margin:0 auto;
    padding:0;
}
.protected #saveForm
{
    font-size:120% !important;
}
.rtl .protected li, .rtl .protected input.text
{
    text-align:right;
}
.rtl .protected .buttons
{
    margin:0;
}
@media print
{
    #report, #container, #stage, form
    {
        background:#fff !important;
        border:none !important;
        margin:0 !important;
        padding:0 !important;
        width:100%;
        overflow:visible !important;
    }
    #bottom, h1, .buttons, .wfo_graph, .dgNav a, #addCol, #navHolderBottom
    {
        display:none !important;
    }
    #gridHolder
    {
        border:none;
        max-height:auto;
        overflow:visible;
    }
    .percent var
    {
        position:static !important;
    }
    .info
    {
        width:100%;
        margin:0 0 10px 0;
        border-bottom:1px solid #ccc !important;
    }
    .info h2, .dgInfo var, .dg thead td, #gridBar .col1 span
    {
        color:#000;
    }
    .info div, #gridBar td
    {
        color:#444;
    }
    .dg table
    {
        border:none;
        border-left:1px solid #ccc !important;
    }
    .dg thead td
    {
        background:#ccc;
        font-weight:bold;
        border:1px solid #444;
        border-right:none;
    }
    .dg tbody td
    {
        border-color:#ccc;
    }
    #gridBar
    {
        background:#fff;
    }
    #gridBar .col1
    {
        padding:0;
    }
    #gridBar .col1 span
    {
        padding:0;
        background:none;
    }
    .footer
    {
        display:none;
    }
}