#header-nav {
        border-bottom-color: #CCC;
        border-bottom-style: dotted;
        border-bottom-width: 1px;
        clear: both;
        display: block;
        font-family: 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, sans-serif;
        font-size: 13px;
        letter-spacing: normal;
        margin-bottom: 1em;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
        text-align: center;
}