<!DOCTYPE html>
<html class="">
        <head>
                <title>Advertisements: {{ comper.name }}</title>
                <meta charset="utf-8">
        
                <link rel="stylesheet" href="css/overlay-structure.css" type="text/css" />
                <link rel="stylesheet" href="css/overlay-form.css" type="text/css" />
                <link rel="stylesheet" href="css/ads.css" type="text/css" />
                <link rel="stylesheet" href="css/navigation.css" type="text/css" />

                <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
                <script type="text/javascript" src="js/jquery.tools.min.js"></script>
        </head>

<body id="report" class="wufoo layout1">

{{ nav|safe }}
<div id="container">
        <header id="header" class="info">
                <div class="buttons"></div>
                <h2 class="notranslate">{{ comper.name }}</h2>
        </header>
        
        <div id="board-navigation" style="display:none">
                <table class="pgStyle1 circle3" cellspacing="0">
                        <tr>
                                <td class="c">
                                        <var>1</var>
                                </td>
                                <td class="t">
                                        <b id="pagecircle1">Unsolicited</b>
                                </td>
                                <td class="c">
                                        <var>2</var>
                                </td>
                                <td class="t">
                                        <b id="pagecircle2">Solicited</b>
                                </td>
                                <td class="c">
                                        <var>3</var>
                                </td>
                                <td class="t">
                                        <b id="pagecircle3">Trade</b>
                                </td>
                </table>
        </div>
        
        <div id="stage" class="clearfix">
                <div id="z0" class="zone clearfix">
                        <div class="wfo_widget fc">
                                <table cellspacing="0" class="choices">
                                        <caption>
                                                <h4>Unsolicited</h4>
                                                <span class="fcNav"><a>&nbsp;</a></span>
                                        </caption>
                                        <thead>
                                                <tr>
                                                        <th>Company</th>
                                                        <th class="percent">Description</th>
                                                        <th class="count">Amount</th>
                                                </tr>
                                        </thead>
                                        <tfoot>
                                                <tr>
                                                        <td class="empty">&nbsp;</td>
                                                        <th>{{ adtotal.unsolicited_number }} Total</th>
                                                        <td class="count" style="text-align: right">${{ adtotal.unsolicited_amount|floatformat:2 }}</td>
                                                </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for ad in unsolicited %}
                                                <tr class="color1">
                                                        <th>
                                                                <div>{{ ad.company }}</div>
                                                        </th>
                                                        <td class="percent">
                                                                <div>{{ ad.description }}</div>
                                                        </td>
                                                        <td class="count">
                                                                <div style="text-align: right">${{ ad.amount|floatformat:2 }}</div>
                                                        </td>
                                                </tr>
                                        {% endfor %}
                                        </tbody>
                                </table>
                        </div>
                        {% if diff.u_num %}
                        <div class="wfo_widget wfo_number">
                                <strong># Left</strong> 
                                <var class="color1">{{ diff.u_num }}</var> 
                        </div>
                        {% endif %}
                        {% if diff.u_amt %}
                        <div class="wfo_widget wfo_number">
                                <strong>$ Left</strong> 
                                <var class="color2">${{ diff.u_amt|floatformat:2 }}</var> 
                        </div>
                        {% endif %}
                </div>
                
                <div id="z0" class="zone clearfix">
                        <div class="wfo_widget fc">
                                <table cellspacing="0" class="choices">
                                        <caption>
                                                <h4>Solicited</h4>
                                                <span class="fcNav"><a>&nbsp;</a></span>
                                        </caption>
                                        <thead>
                                                <tr>
                                                        <th>Company</th>
                                                        <th class="percent">Description</th>
                                                        <th class="count">Amount</th>
                                                </tr>
                                        </thead>
                                        <tfoot>
                                                <tr>
                                                        <td class="empty">&nbsp;</td>
                                                        <th>{{ adtotal.solicited_number }} Total</th>
                                                        <td class="count" style="text-align: right">${{ adtotal.solicited_amount|floatformat:2 }}</td>
                                                </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for ad in solicited %}
                                                <tr class="color1">
                                                        <th>
                                                                <div>{{ ad.company }}</div>
                                                        </th>
                                                        <td class="percent">
                                                                <div>{{ ad.description }}</div>
                                                        </td>
                                                        <td class="count">
                                                                <div style="text-align: right">${{ ad.amount|floatformat:2 }}</div>
                                                        </td>
                                                </tr>
                                        {% endfor %}
                                        </tbody>
                                </table>
                        </div>
                        {% if diff.s_num %}
                        <div class="wfo_widget wfo_number">
                                <strong># Left</strong> 
                                <var class="color1">{{ diff.s_num }}</var> 
                        </div>
                        {% endif %}
                        {% if diff.s_amt %}
                        <div class="wfo_widget wfo_number">
                                <strong>$ Left</strong> 
                                <var class="color2">${{ diff.s_amt|floatformat:2 }}</var> 
                        </div>
                        {% endif %}
                </div>
                
                <div id="z0" class="zone clearfix">
                        <div class="wfo_widget fc">
                                <table cellspacing="0" class="choices">
                                        <caption>
                                                <h4>Trade</h4>
                                                <span class="fcNav"><a>&nbsp;</a></span>
                                        </caption>
                                        <thead>
                                                <tr>
                                                        <th>Company</th>
                                                        <th class="percent">Description</th>
                                                        <th class="count">Amount</th>
                                                </tr>
                                        </thead>
                                        <tfoot>
                                                <tr>
                                                        <td class="empty">&nbsp;</td>
                                                        <th>{{ adtotal.trade_number }} Total</th>
                                                        <td class="count" style="text-align: right">${{ adtotal.trade_amount|floatformat:2 }}</td>
                                                </tr>
                                        </tfoot>
                                        <tbody>
                                        {% for ad in trade %}
                                                <tr class="color1">
                                                        <th>
                                                                <div>{{ ad.company }}</div>
                                                        </th>
                                                        <td class="percent">
                                                                <div>{{ ad.description }}</div>
                                                        </td>
                                                        <td class="count">
                                                                <div style="text-align: right">${{ ad.amount|floatformat:2 }}</div>
                                                        </td>
                                                </tr>
                                        {% endfor %}
                                        </tbody>
                                </table>
                        </div>
                        {% if diff.t_num %}
                        <div class="wfo_widget wfo_number">
                                <strong># Left</strong> 
                                <var class="color1">{{ diff.t_num }}</var> 
                        </div>
                        {% endif %}
                        {% if diff.t_amt %}
                        <div class="wfo_widget wfo_number">
                                <strong>$ Left</strong> 
                                <var class="color2">${{ diff.t_amt|floatformat:2 }}</var> 
                        </div>
                        {% endif %}
                </div>
        </div><!--stage-->
                
</div><!--container-->
<img id="bottom" src="/images/bottom.png" alt="" />

</body>
</html>